
* { margin:0;
		padding:0;
		box-sizing:border-box;
		font-family: 'Roboto Condensed', sans-serif;
}
p{
	margin-bottom: 0;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] { -moz-appearance:textfield; }

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

/*HEADER - HEADER - HEADER - HEADER - HEADER*/
.header{
	height: 70px;
	width: 100%;
	position: absolute;
	margin: auto;
	display: flex;
}
.header_boton{
	width: 50px;
  height: 50px;
  background-color: rgba(0,0,0,0);
  border: none;
  position: absolute;
  left: 0;
  z-index: 2000;
}
.header_menu-size{
	height: 300px;
	width: 400px;
	background-color: #85bdfff7;
	position: absolute;
	z-index: 1500;
	text-align: center;
}
.header_menu-position{
	color: lightslategrey;
	font-size: 2rem;
	text-shadow: white 0 0 25px;
}
.header_menu-position:hover{
	text-decoration: none;
	color: white;
}
.header_titulo-posicion{
	margin: auto;
}
.header_titulo-tamaño{
	height: 70px;
}
.header_cotizaciones{
	display: flex;
	position: absolute;
	right: 0;
	background-color: rgba(200, 200, 200, 0.4);
}
.header_cotizaciones-liststyle{
	list-style: none;
	margin: 0 10px 0 0;
	
}

/* --------------------------------- */
.cuerpo{
	/*background-color: rgb(250, 250, 250);*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	height: 100vh;
}
.cuerpo_fondo{
	background-image: url(../images/casa1.jpg);
	background-size: cover;
}

/*BUSCADOR - BUSCADOR - BUSCADOR - BUSCADOR - BUSCADOR*/
.buscador{
	display: grid;
	margin: auto;
	grid-template-areas:
	"formulario formulario"
	"tipos orden"
	;
}
.buscador_posicion-margin{
	margin-top: 70px;
}
.formulario{
	grid-area: formulario ;
	display: flex;
}
.formulario_ingreso{
	padding: 10px 50px;
	background-color: rgb(235,235,235);
	transition: 0.5s;
	border: none;
}
.formulario_ingreso-ciudad{
	width: 25vw;
}
.formulario_ingreso-precio{
	width: 10vw;
	padding: 10px 10px;
}
.formulario_ingreso-size{
	width: 80px;
	padding: 0;
	border-left: solid lightslategrey 1px;
}
.formulario_ingreso:hover{
	background-color: white;
}
.formulario_ingreso:focus{
	outline: none;
	background-color: white;
}
.formulario_enviar{
	width: 55px;
	height: 44px;
	background-color: grey;
	border: 1px solid lightslategrey;
	position: absolute;

}
.formulario_icono-tamaño{
	font-size: 25px;
	color: black;
	padding: 10px 15px;
	position: absolute;
}

/*--------------------------------------------*/

/*FILTROS - FILTROS - FILTROS - FILTROS - FILTROS -*/
.filtros{
	margin: auto;
	display: flex;
}
.filtros_boton{
	padding: 10px;
	color: white;
	margin: 10px 20px;
	border-radius: 10px;
}
#casa{
	display: none;
}
#departamento{
	display: none;
}
#ph{
	display: none;
}

.filtros_boton-activado{
	background-color: green;
}
.filtros_boton-desactivado{
	background-color: red ;
}

/*------------------------------------------------*/

/* CASAS DEPARTAMENTOS Y PH - CASAS DEPARTAMENTOS Y PH  */
.propiedades{
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: space-evenly;
	overflow: auto;
	margin-top: 20px;
}
.propiedades_contenedor{
	width: 400px;
	min-height: 465px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-color: #F0F0F0F0;
	margin: 35px;
	margin-top: 50px;
	position: relative;
}
.carousel{
	width: 400px;
	height: 225px;
}
.propiedades_titulo{
	font-size: 1.5rem;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	text-decoration: underline;
}
.propiedades_favorito{
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 50%;
	display: flex;
	flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  z-index: 1000;
  right: 0;
  margin: 5px 5px 0px 0px;
}
.propiedades_favorito-display{
	display: none;
}
.propiedades_label{
	position: absolute;
	right: 0;
}
.propiedades_favorito-true{
	background-color: indianred;
	box-shadow: red 0px 0px 10px;
	transition: 0.3s;
}

.propiedades_favorito-false{
	background-color: lightskyblue;
	box-shadow: lightskyblue 0px 0px 5px;
}	
.propiedades_lista{
	list-style: none;
	text-align: center;
}
.propiedades_toggle{
	width: 100%;
	border: none;
}
.propiedades_informacion{
	display: none;
}
.displayNone{
	display: none;
}
.displayBlock{
	display: block;
}
.desactivado{
	opacity: 0.7;
	transition: all .4s;
}
.activado{
	opacity: 1;
	transition: all .4s;
}
.resultado{
	color: white;
	margin: auto;
	font-size: 2rem;
	text-shadow: black 0 0 10px;
}
.advertir{
	border: solid 1px red;
}
/* FILTROS DE CASAS DEPARTAMENTOS Y PH */
.tipos{
	display: flex;
	margin-top: 2px;
}
.true_label{
	width: 170px;
	height: 35px;
	background-color: rgba(140, 130, 122, 1.0);
	text-align: center;
	border-radius: 0 5px 5px 0;
	margin-right: 5px;
}
.true_label p{
	margin: auto 0;
}

/*ORDENAR POR - ORDENAR POR - ORDENAR POR- ORDENAR POR*/

.orden{
	grid-area: orden;
	margin-left: 25px;
}